{% extends "app/base.html" %} {% load static%} {% block checkout_conteiner %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb" style="margin-bottom: 0px">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Checkout</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
  <div class="container">
    <div class="returning_customer">
      <div class="check_title">
        {% if customer is None %}
        <h2>
          Returning Customer? <a href="{% url 'login'%}">Click here to login</a>
        </h2>
        {% else %}
        <h2>Welcome, <b>{{customer.first_name}} {{customer.last_name}}!</b></h2>
        {% endif %}
      </div>
      <p>
        If you have shopped with us before, please enter your details in the
        boxes below. If you are a new customer, please proceed to the Billing &
        Shipping section.
      </p>
    </div>

    <div class="billing_details">
      <div class="row">
        <div class="col-lg-6">
          <h3>Billing Details</h3>
          <form
            class="row contact_form"
            action="{%url 'confirmation'%}"
            method="POST"
            novalidate="novalidate"
          >
            <div class="col-md-6 form-group p_star">
              <input
                type="text"
                class="form-control"
                id="first"
                name="name"
                placeholder="First Name"
                value="{{customer.first_name}}"
              />
            </div>
            <div class="col-md-6 form-group p_star">
              <input
                type="text"
                class="form-control"
                id="last"
                name="name"
                placeholder="Last Name"
                value="{{customer.last_name}}"
              />
            </div>
            <div class="col-md-6 form-group p_star">
              <input
                type="text"
                class="form-control"
                id="number"
                name="number"
                placeholder="Phone Number"
                value="{{customer.phone}}"
              />
            </div>
            <div class="col-md-6 form-group p_star">
              <input
                type="text"
                class="form-control"
                id="email"
                name="compemailany"
                placeholder="Email Address"
                value="{{customer.email}}"
              />
            </div>
            <div class="col-md-12 form-group p_star">
              <input
                type="text"
                class="form-control"
                id="add1"
                name="address"
                placeholder="Address"
                value="{{customer.address}}"
              />
            </div>
            <div class="col-md-12 form-group p_star">
              <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                placeholder="Town/City"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="zip"
                name="zip"
                placeholder="Postcode/ZIP"
              />
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <input type="checkbox" id="f-option2" name="selector" />
                <label for="f-option2">Create an account?</label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <h3>Shipping Details</h3>
                <input type="checkbox" id="f-option3" name="selector" />
                <label for="f-option3">Ship to a different address?</label>
              </div>
              <textarea
                class="form-control"
                name="message"
                id="message"
                rows="1"
                placeholder="Order Notes"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product <span>Total</span></a>
              </li>

              {% for item in items %}

              <li>
                <a href="#"
                  >{{item.product.name}}
                  <span class="middle">x {{item.quantity}}</span>
                  <span class="last">${{item.get_subtotal}}</span></a
                >
              </li>

              {% endfor %}
            </ul>
            <ul class="list list_2">
              <li>
                <a href="#">Subtotal <span>${{cart.get_cart_total}}</span></a>
              </li>
              <li>
                <a href="#">Shipping <span>Flat rate: $50.00</span></a>
              </li>
              <li>
                <a href="#">Total <span>${{cart.get_cart_total}}</span></a>
              </li>
            </ul>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option5" name="selector" />
                <label for="f-option5">Check payments</label>
                <div class="check"></div>
              </div>
              <p>
                Please send a check to Store Name, Store Street, Store Town,
                Store State / County, Store Postcode.
              </p>
            </div>
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" />
                <label for="f-option6">Paypal </label>
                <img src="img/product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
              <p>
                Pay via PayPal; you can pay with your credit card if you don’t
                have a PayPal account.
              </p>
            </div>
            <div class="creat_account">
              <input type="checkbox" id="f-option4" name="selector" />
              <label for="f-option4">I’ve read and accept the </label>
              <a href="#">terms & conditions*</a>
            </div>
            <a class="primary-btn" href="{%url 'confirmation'%}"
              >Proceed to Paypal</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
{% endblock checkout_conteiner %}
