{% extends "app/base.html" %} {% load static%} {% block register_container %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb" style="margin-bottom: 0px">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Register</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Sign up</h3>
          <form
            class="row login_form"
            action=""
            method="post"
            id="contactForm"
            novalidate="novalidate"
          >
            {% csrf_token %}
            <div class="col-md-6 form-group">{{form.first_name}}</div>
            <div class="col-md-6 form-group">{{form.last_name}}</div>
            <div class="col-md-12 form-group">{{form.username}}</div>
            <div class="col-md-12 form-group">{{form.email}}</div>
            <div class="col-md-12 form-group">{{form.password1}}</div>
            <div class="col-md-12 form-group">{{form.password2}}</div>
            <input
              type="checkbox"
              id="f-option2"
              name="selector"
              required="required"
            />
            <label for="f-option2">
              I agree with <b>Privacy Policy</b> and <b>Term of Use.</b>
            </label>
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="primary-btn">
                Sign up
              </button>
            </div>
            <div class="col-md-12 form-group">
              <label>Already have a account<b><a href={% url 'login'%}>Log in</a></label></b>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="{% static "app/img/post-img2.jpg" %}" alt="">
          <div class="hover"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->
{% endblock register_container %}
